.containerTecno {
	gap: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
    border-bottom: solid 2px #ffffff70;
}

.imageTecno {
	height: 60px;
	padding: 10px;
	border-radius: 10%;
	overflow: hidden;
	background: #ffffff47;
	display: flex;
	justify-content: center;
}

.imageTecno img {
	height: 100%;
	width: 100%;
	border-radius: 10%;
}

.sombra {
	transition: .5s ease-out;
	filter: drop-shadow(0px 0 5px #000);
}

.sombra:hover {
	filter: drop-shadow(-10px 0 5px #000);
}
